<!DOCTYPE html>
<html lang="en">

<div class="adopt-body">

  <span class="bio-bar">
    <p>Buyer Name:</p>
    <p>Date Sold:</p>
  </span>

  <span class="bio-bar">
    <p>Price:</p>
    <p>Buyer Name:</p>
  </span>

</div>

</html>
