<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('partials/head.ejs'); %>
  </head>

  <body class="login-main">


    <h1> Login </h1>
    <div class="login">
      <span>
        <label for="email">Email:</label>
        <textarea id="email"></textarea>
      </span>
      <span>
        <label for="password">Password:</label>
        <textarea id="password"></textarea>
      </span>
    </div>
  </body>

</html>
