<!DOCTYPE html>
<html lang="en">



<nav class="navbar">
  <header>
    <span>Adopt-a-pet</span>
    <div class="gadgets">
      <b>
        <i class="fa-solid fa-gear"></i> Settings
      </b>
      <b>
        <i class="fa-solid fa-user"></i> Logout
      </b>
    </div>
  </header>
  <div>
      <a href="/">Home</a>
      <a href="/profile">My Profile</a>
      <a href="/saved-pets">Saved Pets</a>
      <a href="/listed-pets">My Listed Pets</a>
      <a href="/sold-pets">Sold Pets</a>
      <a href="/register">register</a>
  </div>
</nav>


</html>

<!--
  <script src="https://kit.fontawesome.com/fb2f709a72.js" crossorigin="anonymous"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Allan:wght@400;700&display=swap" rel="stylesheet">
-->

