<nav class="navbar">
  <header>
    <span>Adopt-a-pet</span>
    <div class="gadgets">
      <b>
        <i class="fa-solid fa-gear"></i> Settings
      </b>
      <b>
       <% if (user){ %>
        <form action="/logout/<%=user.id%>" method="GET">
          <button type="submit">Logout</button>
          </form>
          Logged in as: <%=user.username%>
          <% } %>



      </b>
    </div>
  </header>
  <div>
      <a href="/">Home</a>
      <% if (user){ %>
      <a href="/listed-pets">My Listed Pets</a>
      <a href="/sold-pets">Sold Pets</a>
      <% } %>

      <% if (!user){ %>
      <a href="/register">Register</a>
      <% } %>
  </div>
</nav>
