<%// loop through the pets from our tempalateVars %>
<% for (const pets in listings) { %>
<div class="pet-container hover-shadow">
    <div class="row">
      <img src="https://scontent.fyyc3-1.fna.fbcdn.net/v/t39.30808-6/287130031_10166182027805332_7915155410566322252_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=zbNOzXF1k-EAX-DL-FH&_nc_ht=scontent.fyyc3-1.fna&oh=00_AT_0muzJqMzjW9hv9kKfJ0qmmt7MdDu96_4xbsBEIe13gg&oe=62B8EB9F" class="image"></img>

      <div class="column">

      <div class="details-bar">

        <span>
          <%// output pet object data after each lable  %>
          <p>Current Name: <%pets.name%> </p>

          <p>Breeder:</p>
        </span>

        <span>
          <p>Type:</p>
          <p>Price:</p>
        </span>

        <span>
          <p>
            <time>Birthday:</time>
          </p>
          <p>
            <time>Take home date:</time>
          </p>
        </span>

      </div>

      <div class="text">

        <div class="row space-between">
          <p>Coloring:</p>
          <p>Gender:</p>
          <p>Breed:</p>
        </div>

        <p>Description:</p>

      </div>

    </div>

  </div>


  <div class="bottom-icons">

    <span class="hover-red">
      <i class="fa-solid fa-flag"></i>
      Report
    </span>

    <span>
      <i class="fa-solid fa-heart hover-red"></i>
    </span>

  </div>

</div>
<% } %>


</html>
