<!DOCTYPE html>
<html lang="en">

<div class="profile">

  <span class="profile-photo nav-style">
    <img src="https://scontent.fyyc3-1.fna.fbcdn.net/v/t39.30808-6/278004134_1599990163734079_1489195037484674189_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=BNfwCkX9I4oAX-nGeoE&tn=w892rXGONM6t5-2h&_nc_ht=scontent.fyyc3-1.fna&oh=00_AT8wYFGXz44995bxWmr06lKNyrxkVeJh6Jm39lPahkXfDQ&oe=62B8E1D0" class="main-image">
    <h1>Jaeden West</h1>
  </span>

  <span class="bio">
    <div class="bio-bar">
      <p>Country</p>
      <p>City</p>
    </div>
    <div class="bio-bar">
      <p>@username</p>
      <p>email</p>
    </div>
    <p>About me:</p>
  </span>



</div>

<div class="button-bar">
  <button class="hover-red">
    <i class="fa-solid fa-flag"></i>
    Report
  </button>
  <button>Message</button>
  <button>Previous Adoptions</button>
</div>

</html>


