<!DOCTYPE html>
<html lang="en">

<head>

  <title>Registration</title>

  <%- include('partials/head.ejs'); %>

</head>


<body class="registration-body">


  <form method="POST" action="/register" class="register">

    <div class="reg-column">
      <span>
        <label for="pet_name">Name:</label>
        <input type="text" id="pet_name" name="pet_name">
      </span>

      <span>
        <label for="type">Type:</label>
        <input type="text" id="type" name="type">
      </span>

      <span>
        <label for="breed">Breed:</label>
        <input type="text" id="breed" name="breed">
      </span>

      <span>
        <label for="gender">Gender:</label>
        <input type="text" id="gender" name="gender">
      </span>

      <span>
        <label for="colour">Colour:</label>
        <input type="text" id="colour" name="colour">
      </span>

      <span>
        <label for="thumbnail_photo_url">Thumbnail URL:</label>
        <input type="text" id="thumbnail_photo_url" name="thumbnail_photo_url">
      </span>
    </div>


    <div class="reg-column">

      <span>
        <label for="price">Price:</label>
        <input type="text" id="price" name="price">
      </span>

      <span>
        <label for="ready_date">Take Home Date:</label>
        <input type="text" id="ready_date" name="ready_date">
      </span>

      <span>
        <label for="is_sold">Sold:</label>
        <input type="checkbox" id="is_sold" name="is_sold" class="reg-nb">
      </span>

      <span>
        <label for="date_sold">Date Sold:</label>
        <input type="text" id="date_sold" name="date_sold">
      </span>

      <span class="reg-nb">

      </span>

    </div>

  </form>

  <button type="submit" class="reg-button">Register</button>


</body>

</html>
