<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Saved Pets</title>

    <%- include('partials/head.ejs') %>
  </head>

  <body class="featured-body">
    <div class="featured">
      <div class="span-title">
        Adoptable Near You!
      </div>
      <div class="featured-pets">
        <%- include('partials/pet.ejs') %>
      </div>
    </div>
  </body>

</html>
