<!DOCTYPE html>
<html lang="en">

<body class="featured-body">

  <form method="POST" action="/">
    <label>Country:</label>
    <input type="text" id="country" name="country">
    <lable>City:</lable>
    <input type="text" id="city" name="city">
    <lable>Type:</lable>
    <input type="text" id="type" name="type">
    <lable>Breed:</lable>
    <input type="text" id="breed" name="breed">
    <lable>Gender:</lable>
    <input type="text" id="gender" name="gender">
    <lable>Price</lable>
    <input type="text" id="price" name="price">
    <lable>Desired Take Home Date:</lable>
    <input type="text" id="ready_date" name="ready_date">
  </form>

</body>

</html>


<!--
  <div class="login-body">

    <main class="login">
      <form method="POST" action="/login">
        <label for="fname">Username:</label><br>
         <input type="username" id="username" name="username"><br>
        <label for="lname">Password:</label><br>
        <input type="password" id="password" name="password">
        <button type="submit">Login</button>
      </form>
    </main>

    <div class="redirect"> Not signed up? Register <a href="http://localhost:8080/register">Here!</a></div>

  </div>
-->
