<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs'); %>
</head>

<body class="featured-body">


  <div class="search-params">
    <div class="span-title hover-shadow">What are you looking for?</div>
    <form method="POST" action="/" class="params">
      <span>
        <label>Country:</label>
        <input type="text" id="country" name="country">
      </span>
      <span>
        <lable>City:</lable>
        <input type="text" id="city" name="city">
      </span>
      <span>
        <lable>Type:</lable>
        <input type="text" id="type" name="type">
      </span>
      <span>
        <lable>Breed:</lable>
        <input type="text" id="breed" name="breed">
      </span>
      <span>
        <lable>Gender:</lable>
        <input type="text" id="gender" name="gender">
      </span>
      <span>
        <lable>Max Price:</lable>
        <input type="text" id="maxPrice" name="maxPrice">
      </span>
      <span>
        <lable>Min Price:</lable>
        <input type="text" id="minPrice" name="minPrice">
      </span>
      <button class="hover-shadow search-button">Search</button>
    </form>
  </div>

  <div class="search-res">

    <%- include('partials/pet.ejs'); %>
  </div>

  <div class="side-buttons">
    <% if (user){ %>
    <form method="POST" action="/favorites">
      <button class="hover-shadow search-button"><i class="fa-solid fa-heart"></i>   My Favourites</button>
    </form>

    <form method="POST" action="/search-listings">
      <button class="hover-shadow search-button"><i class="fa-solid fa-list"></i>   My Listings</button>
    </form>

    <form method="POST" action="/sold-listings">
      <button class="hover-shadow search-button"><i class="fa-solid fa-list-check"></i>   My Sold Listings</button>
    </form>
    <% } %>
  </div>
</body>

</html>

