<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs'); %>
</head>

<body class="featured-body">


  <div class="search-params">
    <div class="span-title hover-shadow">What are you looking for?</div>
    <form method="POST" action="/" class="params">

      <% if (user) { %>
      <span class="reg-nb">
        <label>Favourites:</label>
        <input type="checkbox" id="favourites" name="favourites" class="reg-check">
      </span>
      <% } %>
      <span>
        <label>Country:</label>
        <input type="text" id="country" name="country">
      </span>
      <span>
        <lable>City:</lable>
        <input type="text" id="city" name="city">
      </span>
      <span>
        <lable>Type:</lable>
        <input type="text" id="type" name="type">
      </span>
      <span>
        <lable>Breed:</lable>
        <input type="text" id="breed" name="breed">
      </span>
      <span>
        <lable>Gender:</lable>
        <input type="text" id="gender" name="gender">
      </span>
      <span>
        <lable>Max Price:</lable>
        <input type="text" id="maxPrice" name="maxPrice">
      </span>
      <span>
        <lable>Min Price:</lable>
        <input type="text" id="minPrice" name="minPrice">
      </span>
      <button class="hover-shadow search-button">Search</button>
    </form>
  </div>

  <div class="search-res">

    <%- include('partials/pet.ejs'); %>
  </div>

</body>

</html>

