<!DOCTYPE html>
<html lang="en">

<head>
  <link rel='stylesheet' href="/styles/modal.css" type="text/css">
  <script defer src="/scripts/app.js" > </script>
  <title>Home Page</title>

  <%- include('partials/head.ejs'); %>

</head>

<%- include('featured.ejs'); %>


</html>
