<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Your Listings</title>

    <%- include('partials/head.ejs') %>
  </head>


  <body class="listed-body">


    <div class="listed-container">

      <div class="span-title">
        Your Listings
      </div>
      <form method="GET" action="/create/<%=user%>" class ="listed-buttons">
        <button type="submit" class="listed-btn hover-shadow">Active Listings</button>
        <button type="submit" class="listed-btn hover-shadow">Sold Listings</button>
        <button type="submit" class="listed-btn hover-shadow">Create New Listing</button>
      </form>

      <div class="cards-edits">
        <%- include('partials/myListedPets.ejs') %>
      </div>

    </div>


  </body>


</html>
