<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Your Listings</title>

    <%- include('partials/head.ejs') %>
  </head>


  <body class="listed-body">


    <div class="listed-container">

      <div class="span-title">
        Your Listings
      </div>

      <div class="cards-edits">

        <%- include('myListedPets.ejs') %>

        <div class="edits hover-shadow">
          Settings
        </div>
      </div>

    </div>


  </body>


</html>
