<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Your Listings</title>

    <%- include('partials/head.ejs') %>
  </head>


  <body class="listed-body">


    <div class="listed-container">

      <div class="span-title">
        Your Listings
      </div>

      <div class="listed-buttons">

        <form method="POST" action="">
          <button type="submit" class="listed-btn hover-shadow">Active Listings</button>
        </form>
        <form method="POST" action="">
            <button type="submit" class="listed-btn hover-shadow">Sold Listings</button>
        </form>
        <form method="GET" action="/create/<%=user%>">
          <button type="submit" class="listed-btn hover-shadow">Create New Listing</button>
        </form>

      </div>

      <div class="cards-edits">
        <%- include('partials/myListedPets.ejs') %>
      </div>

    </div>


  </body>


</html>
