<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Your Listings</title>

    <%- include('partials/head.ejs') %>
  </head>

  <body class="featured-body">
    <div class="featured">
      <div class="span-title">
        Your Listings
      </div>
      <div class="featured-pets">
        <span>
          <%- include('partials/pet.ejs') %>
          inline settings
        </span>
      </div>
    </div>
  </body>

</html>
