<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css">0
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

</head>


<body>
  <%- include('./nav.ejs'); %>

  <main style="margin: 1em;">
    <form method="POST" action="/login">
      <label for="fname">Username:</label><br>
       <input type="username" id="username" name=""><br>
      <label for="lname">Password:</label><br>
      <input type="password" id="password" name="password">
      <button type="submit">Login</button>
    </form>
  </main>

</body>

</html>
