<!DOCTYPE html>
<html lang="en">

<nav class="navbar">
  <header>
    <span>Adopt-a-pet</span>
    <div class="gadgets">
      <b>
        <i class="fa-solid fa-gear"></i> Settings
      </b>
      <b>
        <i class="fa-solid fa-user"></i> Logout
      </b>
    </div>
  </header>
  <div>
      <a href="/">Home</a>
      <a href="/settings">Settings</a>
      <a href="/login">login</a>
      <a href="/logout">Logout</a>
      <a href="/profile">My Profile</a>
  </div>
  <nav class="navbar">
    <div class="navbar a">
        <a href="/">Home</a>
        <a href="/settings">Settings</a>
        <a href="/login">login</a>
        <a href="/logout">Logout</a>
        <a href="/profile">My Profile</a>
        <a href="/listings">My Listed Pets</a>
        <a href="/saved-pets">Saved Pets</a>
        <a href="/messages">Messages</a>
    </div>
</nav>


</html>


<!--
  <script src="https://kit.fontawesome.com/fb2f709a72.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Allan:wght@400;700&display=swap" rel="stylesheet">
-->


