<!DOCTYPE html>
<html lang="en">



  <nav class="navbar">
    <div class="navbar a">
        <a href="/">Home</a>
        <a href="/settings">Settings</a>
        <a href="/login">login</a>
        <a href="/logout">Logout</a>
        <a href="/profile">My Profile</a>
        <a href="/listings">My Listed Pets</a>
        <a href="/saved-pets">Saved Pets</a>
        <a href="/messages">Messages</a>
    </div>
</nav>


</html>
