<!DOCTYPE html>
<html lang="en">

<head>

  <title>Your Profile</title>

  <%- include('partials/head.ejs'); %>

</head>

<body>





  <main>
    <div>
      <img src="https://scontent.fyyc3-1.fna.fbcdn.net/v/t39.30808-6/278004134_1599990163734079_1489195037484674189_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=BNfwCkX9I4oAX9rTORe&tn=w892rXGONM6t5-2h&_nc_ht=scontent.fyyc3-1.fna&oh=00_AT-Xhz96cwbNXByqcyy5SZNBFrDzAFY7NQQLcCZo93aajw&oe=62B8E1D0" class="profile-image">
      <h1>Jaeden West</h1>
      <p>Contact Information</p>
    </div>

    <div>
      <%- include('partials/pet.ejs') %>
    </div>
  </main>


</body>

</html>
