<!DOCTYPE html>
<html lang="en">

<head>

  <title>Registration</title>

  <%- include('partials/head.ejs'); %>

</head>


<body class="registration-body">


  <form method="POST" action="/register" class="register">

    <div class="reg-column">
      <span>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName">
      </span>

      <span>
        <label for="country">Country:</label>
        <input type="text" id="country" name="country">
      </span>

      <span>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
      </span>

      <span>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
      </span>

      <span>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
      </span>
    </div>


    <div class="reg-column">

      <span>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName">
      </span>

      <span>
        <label for="city">City:</label>
        <input type="text" id="city" name="city">
      </span>

      <span>
        <label for="phone">Phone:</label>
        <input type="text" id="phone" name="phone">
      </span>

      <span>
        <label for="cPassword">Confirm Password:</label>
        <input type="password" id="cPassword" name="cPassword">
      </span>

      <span class="reg-nb">
        <label for="breeder">Are you a Breeder? If yes please check here:</label>
        <input type="checkbox" id="breeder" name="breeder" class="reg-check">
      </span>

    </div>

  </form>

  <button type="submit" class="reg-button">Register</button>


</body>

</html>
