<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs') %>
</head>

<body class="sold-body">

  <main class="sold">

    <div class="sold-col">
      <div class="span-title">
        Your Sold Listing
      </div>

    </div>

    <div class="sold-col dis-right">
      <div class="span-title">
        Adoption Details
      </div>
      <%- include('partials/adopt.ejs') %>
    </div>

  </main>

</body>

</html>
