.featured-body {
  display: flex;
  justify-content: center;
  min-height: 100vh;

  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );

  padding-top: 130px;
}

.featured {
  display: flex;
  width: 50%;
  border: 5px dotted #333;
  border-radius: 6px;
  background-color: rgb(139, 156, 212);
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 20px;
}

.span-title {
  display: flex;
  width: 100%;
  border-radius: 6px;
  justify-content: center;
  background-color: white;
  font-family: 'Allan';
  min-height: 50px;
  border: 5px solid #333;
  align-items: center;
  font-size: 300%;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.featured-pets {
  display: flex;
  margin-top: 10px;
  width: 100%;
  flex-wrap: wrap;
}
