.container{
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.button{
  background: #333;
  padding: 10px 15px;
  color: white;
  font-weight: bolder;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
  margin-top: 25px;
  text-decoration: none;
  transition: 0.4s;
}

.button:hover{
  background: #8b9cd4;
  color: #fff;
}

.popup{
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.popup-content{
  height: 100px;
  width: 250px;
  background: #8b9cd4;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

input {
  margin: 20px auto;
  display: block;
  width: 100%;
  padding: 8px;
  border: 1px solid gray;
}

.close{
  position: absolute;
  top: -15px;
  right: -15px;
  background: #a3d0db;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
  cursor: pointer;
}
